<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tiimi.RE</title> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Tiimi.io</h1>

            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
                <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
                <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/unread">Unread bookmarks</a></li>
                <li class="nav-item"><a class="nav-link" href="/read">Read bookmarks</a></li>
            </ul>
            <h1 th:text="${video.title}">Book</h1>

            <form method="POST" th:action="@{~/videos/{id}/edit(id=${video.id})}">
                <label>Title:</label><br/>
                <input type="text" name="title" th:value="${video.title}"/><br/>
                <label>Url:</label><br/>
                <input type="text" name="url" th:value="${video.url}"/><br/>
                <label>Comment:</label><br/>
                <input type="text" name="comment" th:value="${video.comment}"/><br/>
                <label>Tags:</label><br/>
                <input type="text" name="tags" th:value="${video.tags}"/><br/>  
                <div class="checkbox">
                    <label th:if="${video.seen != true}">
                        <input name="box" type="checkbox">Watched</input>
                    </label>
                    <label th:if="${video.seen == true}">
                        <input name="box" type="checkbox" checked>Watched</input>
                    </label>
                </div>
                <button type="submit" name="send">Edit</button>
            </form>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    </body>
</html>